

    <nav class="navbar navbar-expand-lg navbar-dark  static-top" style="background:black">
        <div class="container">
              <nav class="navbar navbar-light ">
                      <span class="navbar-brand mb-0 h1">Issue Tracking Tool</span>
                    </nav>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
             
              <li class="nav-item ml-5 custom-link">
                <a class="nav-link" style="color:white" data-toggle="modal"  data-target=".bd-example-modal-lg" ><b>Create</b></a>
              </li>
              <li class="nav-item dropdown ml-5">
                <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbardrop" data-toggle="dropdown">
                    Profile
                  </a>
                  <div class="dropdown-menu">
                      <p style="text-align:center">Profile Name</p>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Logout</a>
                  </div>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>



      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title">Create Issue </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                            <form >
                                    <div class="form-group">
                                        <label for="exampleInputPassword1"><b>Title</b></label>
                                        <input type="text" class="form-control " id="exampleInputPassword1" placeholder="Enter firstname">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1"><b>Description</b></label>
                                        <input type="text" class="form-control " id="exampleInputPassword1" placeholder="Enter LastName">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1"><b>Status</b></label>
                                        <input type="text" class="form-control " id="exampleInputPassword1" placeholder="Enter mobile number">
                                    </div>
                                  <div class="form-group">
                                    <label for="exampleInputEmail1"><b>Assigned TO</b></label>
                                    <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputPassword1"><b>Attachments</b></label>
                                    <input type="password" class="form-control " id="exampleInputPassword1" placeholder="Password">
                                  </div>
                    
                          </form>
                    
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">create</button>
                          </div>
          </div>
        </div>
      </div>      
    
<div class="container d-flex flex-wrap mt-5 ">
       
              <div class="card text-center m-3 w-50">
                    <div class="card-header" style="background: black;opacity:0.8;color: white">
                      Title of the issue
                      
                    </div>
                    <div class="card-body">
                            
                        <h6 class="card-title "  > <b>Status : </b><span style="color:dodgerblue"><b>Backlog</b> </span> </h6>
                       <h6 class="card-title" ><b>Reported By :</b> <span  > karthikeyan</span> </h6>
                      <p class="card-text" style="color:grey">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-danger">View</a>
                    </div>
                    <div class="card-footer text-muted" style="background: black;opacity:0.9;color: white!important">
                      2 days ago
                    </div>
                  </div>
                  
              <div class="card text-center m-3 w-50">
                    <div class="card-header" style="background: black;opacity:0.8;color: white">
                      Title of the issue
                      
                    </div>
                    <div class="card-body">
                            
                        <h6 class="card-title "  > <b>Status : </b><span style="color:dodgerblue"><b>Backlog</b> </span> </h6>
                       <h6 class="card-title" ><b>Reported By :</b> <span  > karthikeyan</span> </h6>
                      <p class="card-text" style="color:grey">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-danger">View</a>
                    </div>
                    <div class="card-footer text-muted" style="background: black;opacity:0.9;color: white!important">
                      2 days ago
                    </div>
                  </div>
                  
              <div class="card text-center m-3 w-50">
                    <div class="card-header" style="background: black;opacity:0.8;color: white">
                      Title of the issue
                      
                    </div>
                    <div class="card-body">
                            
                        <h6 class="card-title "  > <b>Status : </b><span style="color:dodgerblue"><b>Backlog</b> </span> </h6>
                       <h6 class="card-title" ><b>Reported By :</b> <span  > karthikeyan</span> </h6>
                      <p class="card-text" style="color:grey">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-danger">View</a>
                    </div>
                    <div class="card-footer text-muted" style="background: black;opacity:0.9;color: white!important">
                      2 days ago
                    </div>
                  </div>

              <div class="card text-center m-3 w-50">
                    <div class="card-header" style="background: black;opacity:0.8;color: white">
                      Title of the issue
                      
                    </div>
                    <div class="card-body">
                            
                        <h6 class="card-title "  > <b>Status : </b><span style="color:dodgerblue"><b>Backlog</b> </span> </h6>
                       <h6 class="card-title" ><b>Reported By :</b> <span  > karthikeyan</span> </h6>
                      <p class="card-text" style="color:grey">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-danger">View</a>
                    </div>
                    <div class="card-footer text-muted" style="background: black;opacity:0.9;color: white!important">
                      2 days ago
                    </div>
                  </div>
         
</div>
    