

    <nav class="navbar navbar-expand-lg navbar-dark  static-top" style="background:black">
            <div class="container">
                  <nav class="navbar navbar-light ">
                          <span class="navbar-brand mb-0 h1">Issue Tracking Tool</span>
                        </nav>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                 
                  <li class="nav-item ml-5 custom-link">
                    <a class="nav-link" style="color:white" data-toggle="modal"  data-target=".bd-example-modal-lg" ><b>Create</b></a>
                  </li>
                  <li class="nav-item dropdown ml-5">
                    <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbardrop" data-toggle="dropdown">
                        Profile
                      </a>
                      <div class="dropdown-menu">
                          <p style="text-align:center">Profile Name</p>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Logout</a>
                      </div>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
    <div class="container mt-4">
          <div class="card text-center ">
                <div class="card-header" style="background: black;opacity:0.8;color: white">
                  Title of the issue
                  
                </div>
                <div class="card-body">
                        
                    <h6 class="card-title "  > <b>Status : </b><span style="color:dodgerblue"><b>Backlog</b> </span> </h6>
                   <h6 class="card-title" ><b> Reported By :</b> <span  > karthikeyan</span> </h6>
                 
                   <p class="card-text" style="color:grey">With supporting text below as a natural lead-in to additional content.</p>
                   
                  
                        <a class="btn btn-warning m-2 "  >Go Back</a>
                      
                        <a class="btn btn-danger m-2">Delete</a>
                   
                        <a class="btn btn-info m-2" >Edit</a>
                    
                        <a class="btn btn-success m-2 "  >Watch</a>
                    
                
              
                </div>
                <div class="card-footer text-muted" style="background: black;opacity:0.9;color: white!important">
                  Created  by <b style="color:skyblue">karthikeyan</b> on 2 days ago
                </div>
              </div>    
            </div>

            <div class="container mt-5" >
                
                    
                    <div class="card text-center m-4 " style="box-shadow: 0px 2px 25px slategray">
                          <div class="card-header" style="border:1px solid black;;color: white;background:black;opacity: 0.8;">
                            Comments
                          </div>
                          
                          <div class="card-body">

                                <textarea class="form-control" style="border: 2px solid slategray;" aria-label="With textarea" placeholder="Enter Comment here...."></textarea>
                                <button class="btn mt-4" style="background: gray;color: white;margin-left: 90%;" >comment</button>
                               

                                <div class="card mt-4">
                                        <div class="card-header" style="text-align: left;background:lightslategray;" >
                                          @28 aug 2019  by <b>karthikeyan</b>
                                        </div>
                                        <div class="card-body">
                                          <p class="card-text" style="text-align: left!important">With supporting text below as a natural lead-in to additional content.</p>
                                        </div>
                                      </div>

                                      <div class="card mt-4">
                                            <div class="card-header" style="text-align: left;background:lightslategray;" >
                                              @28 aug 2019  by <b>karthikeyan</b>
                                            </div>
                                            <div class="card-body">
                                              <p class="card-text" style="text-align: left!important">With supporting text below as a natural lead-in to additional content.</p>
                                            </div>
                                          </div>


                                          <div class="card mt-4">
                                                <div class="card-header" style="text-align: left;background:lightslategray;" >
                                                  @28 aug 2019  by <b>karthikeyan</b>
                                                </div>
                                                <div class="card-body">
                                                  <p class="card-text" style="text-align: left!important">With supporting text below as a natural lead-in to additional content.</p>
                                                </div>
                                              </div>
                          </div>
                      


                        </div>    
            </div>